Motivation post generator.json
{
  "name": "Motivation post generator",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "13EMrFv5vYvGejjrQyX1D3yEWOhx61JuYKaH0AyPqT68",
        "options": {}
      },
      "id": "e6fd2e07-d834-4515-a698-3510a2ef3276",
      "name": "Get Random Quote",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -3632,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1LZB9xrRlGxqXclM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "if (!items.length) {\n  return [{ json: { error: \"No input items found\" } }];\n}\n\nconst data = items.map(i => i.json);\nconst random = data[Math.floor(Math.random() * data.length)];\n\nreturn [{ json: random }];\n"
      },
      "id": "3d08bd2a-2e55-4e85-803d-a5f819778b78",
      "name": "Pick Random Quote",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3408,
        384
      ]
    },
    {
      "parameters": {
        "functionCode": "const quote = $json.Quote || $json.quote || \"\";\nconst author = $json.Author || $json.author || \"\";\nconst full = author ? `${quote} — ${author}` : quote;\n\nconst prompt = `motivational poster, typography design, cinematic lighting, vivid gradient background, minimal layout, quote text: \"${full}\", inspirational art, high quality, 4k poster`;\n\nreturn [{ json: { prompt, quote, author } }];\n"
      },
      "id": "067eaf94-3528-4f87-a027-018b09733de1",
      "name": "Build Poster Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3184,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://image.pollinations.ai/prompt/' + encodeURIComponent($json.prompt) }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "e98dde34-e82b-4c5e-b2cb-40e915ecfbb0",
      "name": "Generate Image (Pollinations)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2960,
        384
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{ $execution.id }}",
        "options": {}
      },
      "id": "e5a15075-5f6f-4a3e-b80d-b6c916d604d3",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        -2736,
        384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UZ6zWDqhzwYguMLp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const fileId = $json.id || $json.fileId || \"\";\nconst link = \"https://drive.google.com/uc?id=\" + fileId;\nreturn [{ json: { link } }];\n"
      },
      "id": "67e18a3d-e5f6-4ca5-88ed-6b713019d3fa",
      "name": "Build Drive Link",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2512,
        384
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "13EMrFv5vYvGejjrQyX1D3yEWOhx61JuYKaH0AyPqT68",
        "range": "A:Z",
        "keyRow": 1,
        "options": {}
      },
      "id": "6d69ce1c-e1d2-4b74-a97e-9548a4570f7c",
      "name": "Save Image Link to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -2288,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1LZB9xrRlGxqXclM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "0253cf1c-328d-46e6-8db7-2d21b46bbe8e",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2064,
        384
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "0427f6c3-c0ae-459b-a8f6-12d9912e4f15",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -3856,
        384
      ]
    },
    {
      "parameters": {
        "content": "## This is motivational Ai Agent\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 240,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3920,
        304
      ],
      "typeVersion": 1,
      "id": "c8de55bd-1f32-49f7-a636-8dea0676e17d",
      "name": "Sticky Note",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Get Random Quote": {
      "main": [
        [
          {
            "node": "Pick Random Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Quote": {
      "main": [
        [
          {
            "node": "Build Poster Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Poster Prompt": {
      "main": [
        [
          {
            "node": "Generate Image (Pollinations)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (Pollinations)": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Build Drive Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Drive Link": {
      "main": [
        [
          {
            "node": "Save Image Link to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Link to Sheet": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Random Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ae51291-89fa-4c47-bd37-fa863ac91321",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcfd5ea4254d57fc554754bf37d69bee98752c0effd5f7dbe4b5c4c84e8ff496"
  },
  "id": "YF3wgQvlSQ91F80Y",
  "tags": []
}